USE [master]
GO
	/****** Object:  Database [EMRE_TEST]    Script Date: 26.01.2023 17:14:45 ******/
	CREATE DATABASE [EMRE_TEST] CONTAINMENT = NONE ON PRIMARY (
		NAME = N'EMRE_TEST',
		FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EMRE_TEST.mdf',
		SIZE = 8192KB,
		MAXSIZE = UNLIMITED,
		FILEGROWTH = 65536KB
	) LOG ON (
		NAME = N'EMRE_TEST_log',
		FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EMRE_TEST_log.ldf',
		SIZE = 8192KB,
		MAXSIZE = 2048GB,
		FILEGROWTH = 65536KB
	) WITH CATALOG_COLLATION = DATABASE_DEFAULT,
	LEDGER = OFF
GO ALTER DATABASE [EMRE_TEST]
SET COMPATIBILITY_LEVEL = 160
GO IF (
		1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled')
	) begin EXEC [EMRE_TEST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO ALTER DATABASE [EMRE_TEST]
SET ANSI_NULL_DEFAULT OFF
GO ALTER DATABASE [EMRE_TEST]
SET ANSI_NULLS OFF
GO ALTER DATABASE [EMRE_TEST]
SET ANSI_PADDING OFF
GO ALTER DATABASE [EMRE_TEST]
SET ANSI_WARNINGS OFF
GO ALTER DATABASE [EMRE_TEST]
SET ARITHABORT OFF
GO ALTER DATABASE [EMRE_TEST]
SET AUTO_CLOSE OFF
GO ALTER DATABASE [EMRE_TEST]
SET AUTO_SHRINK OFF
GO ALTER DATABASE [EMRE_TEST]
SET AUTO_UPDATE_STATISTICS ON
GO ALTER DATABASE [EMRE_TEST]
SET CURSOR_CLOSE_ON_COMMIT OFF
GO ALTER DATABASE [EMRE_TEST]
SET CURSOR_DEFAULT GLOBAL
GO ALTER DATABASE [EMRE_TEST]
SET CONCAT_NULL_YIELDS_NULL OFF
GO ALTER DATABASE [EMRE_TEST]
SET NUMERIC_ROUNDABORT OFF
GO ALTER DATABASE [EMRE_TEST]
SET QUOTED_IDENTIFIER OFF
GO ALTER DATABASE [EMRE_TEST]
SET RECURSIVE_TRIGGERS OFF
GO ALTER DATABASE [EMRE_TEST]
SET ENABLE_BROKER
GO ALTER DATABASE [EMRE_TEST]
SET AUTO_UPDATE_STATISTICS_ASYNC OFF
GO ALTER DATABASE [EMRE_TEST]
SET DATE_CORRELATION_OPTIMIZATION OFF
GO ALTER DATABASE [EMRE_TEST]
SET TRUSTWORTHY OFF
GO ALTER DATABASE [EMRE_TEST]
SET ALLOW_SNAPSHOT_ISOLATION OFF
GO ALTER DATABASE [EMRE_TEST]
SET PARAMETERIZATION SIMPLE
GO ALTER DATABASE [EMRE_TEST]
SET READ_COMMITTED_SNAPSHOT OFF
GO ALTER DATABASE [EMRE_TEST]
SET HONOR_BROKER_PRIORITY OFF
GO ALTER DATABASE [EMRE_TEST]
SET RECOVERY FULL
GO ALTER DATABASE [EMRE_TEST]
SET MULTI_USER
GO ALTER DATABASE [EMRE_TEST]
SET PAGE_VERIFY CHECKSUM
GO ALTER DATABASE [EMRE_TEST]
SET DB_CHAINING OFF
GO ALTER DATABASE [EMRE_TEST]
SET FILESTREAM(NON_TRANSACTED_ACCESS = OFF)
GO ALTER DATABASE [EMRE_TEST]
SET TARGET_RECOVERY_TIME = 60 SECONDS
GO ALTER DATABASE [EMRE_TEST]
SET DELAYED_DURABILITY = DISABLED
GO ALTER DATABASE [EMRE_TEST]
SET ACCELERATED_DATABASE_RECOVERY = OFF
GO EXEC sys.sp_db_vardecimal_storage_format N'EMRE_TEST',
	N 'ON'
GO ALTER DATABASE [EMRE_TEST]
SET QUERY_STORE = ON
GO ALTER DATABASE [EMRE_TEST]
SET QUERY_STORE (
		OPERATION_MODE = READ_WRITE,
		CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30),
		DATA_FLUSH_INTERVAL_SECONDS = 900,
		INTERVAL_LENGTH_MINUTES = 60,
		MAX_STORAGE_SIZE_MB = 1000,
		QUERY_CAPTURE_MODE = AUTO,
		SIZE_BASED_CLEANUP_MODE = AUTO,
		MAX_PLANS_PER_QUERY = 200,
		WAIT_STATS_CAPTURE_MODE = ON
	)
GO USE [EMRE_TEST]
GO
	/****** Object:  Table [dbo].[FAMILIES]    Script Date: 26.01.2023 17:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO CREATE TABLE [dbo].[FAMILIES](
		[FAMILY_ID] [int] IDENTITY(1, 1) NOT NULL,
		[FAMILY_NAME] [nvarchar](150) NULL,
		[PROJECT_ID] [int] NULL,
		PRIMARY KEY CLUSTERED ([FAMILY_ID] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY]
GO
	/****** Object:  Table [dbo].[MODULES]    Script Date: 26.01.2023 17:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO CREATE TABLE [dbo].[MODULES](
		[MODULE_ID] [int] IDENTITY(1, 1) NOT NULL,
		[FAMILY_ID] [int] NULL,
		[MODULE_NAME] [nvarchar](150) NULL,
		PRIMARY KEY CLUSTERED ([MODULE_ID] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY]
GO
	/****** Object:  Table [dbo].[PAGES]    Script Date: 26.01.2023 17:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO CREATE TABLE [dbo].[PAGES](
		[PAGE_ID] [int] IDENTITY(1, 1) NOT NULL,
		[MODULE_ID] [int] NULL,
		[PAGE_NAME] [nvarchar](150) NULL,
		[FACT] [nvarchar](200) NULL,
		[FILE_PATH] [nvarchar](500) NULL,
		[IS_MENU] [bit] NULL,
		[PROJECT_ID] [int] NULL,
		PRIMARY KEY CLUSTERED ([PAGE_ID] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY]
GO
	/****** Object:  Table [dbo].[PROJECTS]    Script Date: 26.01.2023 17:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO CREATE TABLE [dbo].[PROJECTS](
		[PROJECT_ID] [int] IDENTITY(1, 1) NOT NULL,
		[PROJECT_NAME] [nvarchar](150) NULL,
		[PROJECT_FOLDER] [nvarchar](150) NULL,
		PRIMARY KEY CLUSTERED ([PROJECT_ID] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FAMILIES] ON
INSERT [dbo].[FAMILIES] ([FAMILY_ID], [FAMILY_NAME], [PROJECT_ID])
VALUES (1, N'DEV', 0)
INSERT [dbo].[FAMILIES] ([FAMILY_ID], [FAMILY_NAME], [PROJECT_ID])
VALUES (2, N'Urun', 1)
SET IDENTITY_INSERT [dbo].[FAMILIES] OFF
GO
SET IDENTITY_INSERT [dbo].[MODULES] ON
INSERT [dbo].[MODULES] ([MODULE_ID], [FAMILY_ID], [MODULE_NAME])
VALUES (1, 1, N'DEV')
INSERT [dbo].[MODULES] ([MODULE_ID], [FAMILY_ID], [MODULE_NAME])
VALUES (2, 2, N'Urun')
INSERT [dbo].[MODULES] ([MODULE_ID], [FAMILY_ID], [MODULE_NAME])
VALUES (3, 2, N'Kategori')
SET IDENTITY_INSERT [dbo].[MODULES] OFF
GO
SET IDENTITY_INSERT [dbo].[PAGES] ON
INSERT [dbo].[PAGES] (
		[PAGE_ID],
		[MODULE_ID],
		[PAGE_NAME],
		[FACT],
		[FILE_PATH],
		[IS_MENU],
		[PROJECT_ID]
	)
VALUES (
		1,
		1,
		N'Sayfalar',
		N'dev.list_pages',
		N'/dev/display/list_pages.cfm',
		1,
		NULL
	)
INSERT [dbo].[PAGES] (
		[PAGE_ID],
		[MODULE_ID],
		[PAGE_NAME],
		[FACT],
		[FILE_PATH],
		[IS_MENU],
		[PROJECT_ID]
	)
VALUES (
		2,
		1,
		N'Sayfa Ekle',
		N'dev.add_page',
		N'/dev/form/add_page.cfm',
		0,
		NULL
	)
INSERT [dbo].[PAGES] (
		[PAGE_ID],
		[MODULE_ID],
		[PAGE_NAME],
		[FACT],
		[FILE_PATH],
		[IS_MENU],
		[PROJECT_ID]
	)
VALUES (
		3,
		1,
		N'Sayfa Güncelle',
		N'dev.upd_page',
		N'/dev/form/upd_page.cfm',
		0,
		NULL
	)
SET IDENTITY_INSERT [dbo].[PAGES] OFF
GO
SET IDENTITY_INSERT [dbo].[PROJECTS] ON
INSERT [dbo].[PROJECTS] ([PROJECT_ID], [PROJECT_NAME], [PROJECT_FOLDER])
VALUES (1, N'TICIMAX', N'TICIMAX')
SET IDENTITY_INSERT [dbo].[PROJECTS] OFF
GO USE [master]
GO ALTER DATABASE [EMRE_TEST]
SET READ_WRITE
GO